/ThereIsNoBox_GamePrototype/.idea
/ThereIsNoBox_GamePrototype/Assets/ThirdParty/*

/ThereIsNoBox_GamePrototype/FMOD-BiYB/.cache/*
/ThereIsNoBox_GamePrototype/FMOD-BiYB/.unsaved/*
/ThereIsNoBox_GamePrototype/FMOD-BiYB/.user/*
